sush_env/
__pycache__/
*.pyc
.env



# === REACT / NODE IGNORES ===
# This ignores node_modules and build outputs anywhere inside your frontend folders
**/node_modules/
**/build/
**/dist/
**/.next/
**/.docusaurus/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store